@media (min-width : 1170px){
    html{
        background-image: url(/obrazy/man-1.jpg);
        background-size: contain;
        height: 100%;
        background-repeat: no-repeat;
    }
    p{
        color: white;
        text-align: left;
        font-size: 25px;
        padding-top: 36vh;
    }
    p>span{
        font-weight: 900;
    }
}


@media (min-width:992px) and (max-width:1170px){
    html{
        background-image: url(/obrazy/man-2.jpg);
        background-size: contain;
        height: 70%;
        background-repeat: no-repeat;
    }
/*
    p{
        text-align: right;
        color: royalblue; 
    }
*/
}


@media (max-width:992px){
    html{
        background-image: url(/obrazy/man-1.jpg);
        background-size: contain;
        height: 50%;
        background-repeat: no-repeat;
        position:relative;
    }
/*
    p{
        text-align: center;
        color:yellow;
        position: absolute;
            
    }
*/
}
    
    
    